apiVersion: v1
kind: Secret
metadata:
  name: backend-tbc-ontap-secret
type: Opaque
stringData:
  username: vsadmin
  password: {{ vsadmin_password }}
---
apiVersion: trident.netapp.io/v1
kind: TridentBackendConfig
metadata:
  name: backend-tbc-ontap-nas
spec:
  version: 1
  storageDriverName: ontap-nas
  managementLIF: {{ svm_specs.svm_mgmt_lif.address }}
  backendName: tbc-ontap-nas
  exportPolicy: default
  storagePrefix: "{{ svm_specs.svm_name | split('_') | last}}_"
  autoExportPolicy: true
  autoExportCIDRs: ['{{ svm_specs.client_match }}']
  credentials:
    name: backend-tbc-ontap-secret
